<div class="row">
  <div class="col-xs-12">
    <img src="{{ recipe.imagePath }}" alt="{{ recipe.name }}" class="img-fluid" />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" dropdown>
      <button
        id="button-basic"
        type="button"
        dropdownToggle
        class="btn btn-primary dropdown-toggle"
        aria-controls="dropdown-basic"
      >
        Manage Recipe
      </button>
      <ul
        id="dropdown-basic"
        *dropdownMenu
        class="dropdown-menu"
        role="menu"
        aria-labelledby="dropdown-basic"
      >
        <li role="menu-item"><a class="dropdown-item" href="#">To shopping list</a></li>
        <li role="menu-item"><a class="dropdown-item" href="#">Edit Recipe</a></li>
        <li role="menu-item"><a class="dropdown-item" href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">{{ recipe.description }}</div>
</div>

<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.name }} - {{ ingredient.amount }}
      </li>
    </ul>
  </div>
</div>
